In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\mohan\OneDrive\文件\raw_sales_data.csv")

In [9]:
df.head()

,product_id,sales_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel
0,P001,2023-01-05,Alice,East,12000,4,Electronics,2000,3000,Retail,0.10,Credit Card,Online
1,P002,2023-01-07,Bob,West,8000,5,Clothing,900,1600,Wholesale,0.05,Cash,Retail
2,P003,2023-01-10,Charlie,North,15000,3,Electronics,3500,5000,Retail,0.15,Debit Card,Online
3,P004,2023-01-12,David,South,6000,6,Home Decor,700,1200,Retail,0.08,UPI,Retail
4,P005,2023-01-15,Eve,East,20000,5,Furniture,2500,4500,Wholesale,0.12,Credit Card,Online

In [10]:
df.shape

(50, 13)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        50 non-null     object
 1   sales_date        50 non-null     object
 2   sales_rep         50 non-null     object
 3   region            50 non-null     object
 4   sales_amount      50 non-null     int64
 5   quantity_sold     50 non-null     int64
 6   product_category  50 non-null     object
 7   unit_cost         50 non-null     int64
 8   unit_price        50 non-null     int64
 9   customer_type     50 non-null     object
 10  discount          50 non-null     float64
 11  payment_method    50 non-null     object
 12  sales_channel     50 non-null     object
dtypes: float64(1), int64(4), object(8)
memory usage: 5.2+ KB

In [12]:
df.describe()

       sales_amount  quantity_sold    unit_cost   unit_price   discount
count     50.000000      50.000000    50.000000    50.000000  50.000000
mean   12484.000000       4.680000  1856.000000  2886.000000   0.089400
std     5411.603557       0.767716  1002.478561  1352.851863   0.032097
min     5000.000000       3.000000   600.000000  1200.000000   0.050000
25%     7425.000000       4.000000   900.000000  1600.000000   0.060000
50%    10250.000000       5.000000  1600.000000  2450.000000   0.085000
75%    16875.000000       5.000000  2800.000000  4200.000000   0.117500
max    23000.000000       6.000000  3500.000000  5000.000000   0.150000

In [13]:
df.isnull().sum()

product_id          0
sales_date          0
sales_rep           0
region              0
sales_amount        0
quantity_sold       0
product_category    0
unit_cost           0
unit_price          0
customer_type       0
discount            0
payment_method      0
sales_channel       0
dtype: int64

In [14]:
df = df.dropna()

In [17]:
df.duplicated().sum()
df = df.drop_duplicates()

In [18]:
df['sales_date'] = pd.to_datetime(df['sales_date'])

In [19]:
numeric_cols = ['sales_amount', 'quantity_sold', 'unit_cost', 'unit_price', 'discount']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric)

In [20]:
df['total_cost'] = df['unit_cost'] * df['quantity_sold']

In [21]:
df['profit'] = df['sales_amount'] - df['total_cost']

In [22]:
df['profit_margin'] = df['profit'] / df['sales_amount']

In [23]:
text_cols = ['region', 'sales_rep', 'product_category', 'payment_method', 'sales_channel']
df[text_cols] = df[text_cols].apply(lambda x: x.str.strip().str.title())

In [24]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        50 non-null     object
 1   sales_date        50 non-null     datetime64[ns]
 2   sales_rep         50 non-null     object
 3   region            50 non-null     object
 4   sales_amount      50 non-null     int64
 5   quantity_sold     50 non-null     int64
 6   product_category  50 non-null     object
 7   unit_cost         50 non-null     int64
 8   unit_price        50 non-null     int64
 9   customer_type     50 non-null     object
 10  discount          50 non-null     float64
 11  payment_method    50 non-null     object
 12  sales_channel     50 non-null     object
 13  total_cost        50 non-null     int64
 14  profit            50 non-null     int64
 15  profit_margin     50 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(6), object(7)
memory usage: 6.4+ KB

,product_id,sales_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,total_cost,profit,profit_margin
0,P001,2023-01-05,Alice,East,12000,4,Electronics,2000,3000,Retail,0.10,Credit Card,Online,8000,4000,0.333333
1,P002,2023-01-07,Bob,West,8000,5,Clothing,900,1600,Wholesale,0.05,Cash,Retail,4500,3500,0.437500
2,P003,2023-01-10,Charlie,North,15000,3,Electronics,3500,5000,Retail,0.15,Debit Card,Online,10500,4500,0.300000
3,P004,2023-01-12,David,South,6000,6,Home Decor,700,1200,Retail,0.08,Upi,Retail,4200,1800,0.300000
4,P005,2023-01-15,Eve,East,20000,5,Furniture,2500,4500,Wholesale,0.12,Credit Card,Online,12500,7500,0.375000

In [26]:
df.to_csv("cleaned_sales_data.csv", index=False)

In [28]:
import pandas as pd
df = pd.read_csv(r"C:\Users\mohan\cleaned_sales_data.csv")
df.head()

,Unnamed: 0,product_id,sales_date,sales_rep,region,sales_amount,quantity_sold,product_category,unit_cost,unit_price,customer_type,discount,payment_method,sales_channel,total_cost,profit,profit_margin
0,0,P001,2023-01-05,Alice,East,12000,4,Electronics,2000,3000,Retail,0.10,Credit Card,Online,8000,4000,0.333333
1,1,P002,2023-01-07,Bob,West,8000,5,Clothing,900,1600,Wholesale,0.05,Cash,Retail,4500,3500,0.437500
2,2,P003,2023-01-10,Charlie,North,15000,3,Electronics,3500,5000,Retail,0.15,Debit Card,Online,10500,4500,0.300000
3,3,P004,2023-01-12,David,South,6000,6,Home Decor,700,1200,Retail,0.08,Upi,Retail,4200,1800,0.300000
4,4,P005,2023-01-15,Eve,East,20000,5,Furniture,2500,4500,Wholesale,0.12,Credit Card,Online,12500,7500,0.375000

In [29]:
total_revenue = df['sales_amount'].sum()
total_revenue

np.int64(624200)

In [30]:
df['quantity_sold'].sum()

np.int64(234)

In [31]:
df['profit'].sum()

np.int64(181150)

In [32]:
df['discount'].mean()

np.float64(0.08940000000000001)

In [33]:
df['sales_date'] = pd.to_datetime(df['sales_date'])

revenue_trend = df.groupby(df['sales_date'].dt.to_period('M'))['sales_amount'].sum()
revenue_trend

sales_date
2023-01    109000
2023-02    123700
2023-03    178500
2023-04    203600
2023-05      9400
Freq: M, Name: sales_amount, dtype: int64

In [34]:
region_sales = df.groupby('region')['sales_amount'].sum().sort_values(ascending=False)
region_sales

region
East     249500
North    183500
West     108600
South     82600
Name: sales_amount, dtype: int64

In [35]:
sales_rep_perf = df.groupby('sales_rep')['sales_amount'].sum().sort_values(ascending=False)
sales_rep_perf

sales_rep
Eve        133800
Bob        125300
Charlie    123000
Alice      121100
David      121000
Name: sales_amount, dtype: int64

In [36]:
category_sales = df.groupby('product_category')['sales_amount'].sum().sort_values(ascending=False)
category_sales

product_category
Furniture      237500
Electronics    195500
Clothing       108600
Home Decor      82600
Name: sales_amount, dtype: int64

In [37]:
payment_sales = df.groupby('payment_method')['sales_amount'].sum()
payment_sales

payment_method
Cash           108600
Credit Card    249500
Debit Card     183500
Upi             82600
Name: sales_amount, dtype: int64

In [38]:
profit_by_category = df.groupby('product_category')['profit'].sum().sort_values(ascending=False)
profit_by_category

product_category
Clothing       50550
Electronics    46400
Furniture      44500
Home Decor     39700
Name: profit, dtype: int64